page-ponto {

    table{
        width: 100%;
    }
    td{
        width: 10%;
        height: 30%;
        font-size: 1em;  
    }
    .row{
        padding: 3%;
    }
    .titulo{
        font-size: 2em;  
    }
    .dias{
        font-size: 0.8em;
    }
}
